/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body, a {
    font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
a {
	color: #ff8b3d;
    font-family: 'Open Sans', sans-serif;
	font-size: 16px;
    text-decoration: none;
}
.content {
    position: relative;
}
.forms	{
    min-height: 768px;
    max-height: 768px;
	max-width: 1366px;
	min-width: 1366px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
    height: 90%;
    position: relative;
}
/* страна */
.country_mod {
    max-height: 235px;
    min-height: 235px;
    z-index: 60;
    overflow-y: auto;
    overflow-x: hidden;
}

#country_new {
}
#country_edit {
    min-width: 275px;
    max-width: 275px;
}
/* школа */
.school_mod {
    max-height: 290px;
    min-height: 290px;
	position: relative;
    top: -526px;
    left: 930px;
    z-index: 50;
    overflow-y: auto;
    overflow-x: hidden;
}

#school_new {
}
#school_edit {
    min-width: 275px;
    max-width: 275px;
}
/* Раздел науки */
.section_mod {
    max-height: 232px;
    min-height: 232px;
	position: relative;
    top: -231px;
    left: 620px;
    z-index: 40;
    overflow-y: auto;
    overflow-x: hidden;
}
#section_new {
}
#section_edit {
    min-width: 275px;
    max-width: 275px;
}
/* группы стран */
.country_group_mod {
	  max-height: 150px;
	  min-height: 150px;
	  position: absolute;
    left: 930px;
    top: 35px;
    z-index: 100;
    overflow-y: auto;
    overflow-x: hidden;
}
#country_group_new {
}
#country_group_edit {
    min-width: 275px;
    max-width: 275px;
}
/* произведение */
.opus_mod {
    max-height: 766px;
    min-height: 766px;
    z-index: 20;
    overflow-y: auto;
    overflow-x: hidden;
}
#opus_new {
    min-width: 275px;
    max-width: 275px;
}
#opus_edit {
    min-width: 275px;
    max-width: 275px;
}
/* файлы */
.files_mod {
    max-height: 731px;
    min-height: 731px;
	  position: absolute;
    left: 311px;
    top: 35px;
    z-index: 100;
    overflow-y: auto;
    overflow-x: hidden;
}
#files_new {
}
#files_edit {
    min-width: 275px;
    max-width: 275px;
}
/* высказывания */
.idiom_mod {
    max-height: 731px;
    min-height: 731px;
	  position: absolute;
    left: 621px;
    top: 35px;
    z-index: 100;
    overflow-y: auto;
    overflow-x: hidden;
}
#idiom_new {
}
#idiom_edit {
    min-width: 275px;
    max-width: 275px;
}
/* персона */
.person_mod {
    max-height: 766px;
    min-height: 766px;
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
}
#person_new {
    min-width: 275px;
    max-width: 275px;
}
#person_edit {
    min-width: 275px;
    max-width: 275px;
}
/* словарь */
.dictionary_mod {
    max-height: 766px;
    min-height: 766px;
    z-index: 30;
    overflow-y: auto;
    overflow-x: hidden;
}
#dictionary_new {
    min-width: 275px;
    max-width: 275px;
}
#dictionary_edit {
    min-width: 275px;
    max-width: 275px;
}
/* кусочки списка */
.list_item {
	opacity: 0.7;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}
.list_item:hover {
	opacity: 1;
	cursor: pointer;
}
.button_select {
    float: left;
    color: #ff8b3d;
	width: 269px;
	height: 18px;
    text-align: left;
    overflow: hidden;
}
.button_delete {
	background-color: #FF4040;
	display: inline-block;
	cursor: pointer;
	max-height: 18px;
	min-height: 18px;
	max-width: 18px;
	min-width: 18px;
	border-radius: 3px;
    margin-left: 4px;
    }
.button_download {
	background-color: cornflowerblue;
	display: inline-block;
	cursor: pointer;
	max-height: 20px;
	min-height: 20px;
	max-width: 20px;
	min-width: 20px;
	border-radius: 3px;
}
/* боковые навигаторы */
div.nav {
    display: inline-flex;
    float: right;
	max-width: 20px;
	max-height: 50px;
    padding-right: 10px;
}
.nav_item {
	display: inline-block;
	cursor: pointer;
	max-height: 20px;
	min-height: 20px;
	max-width: 20px;
	min-width: 20px;
	border-right: 1px solid black;
	border-radius: 3px;
	opacity: 0.5;
	transition: all 1s;
}
.nav_item:hover {
	opacity: 1;
}
.nav_item:first-child {
	background-color: #92ED6B;
}
.nav_item:nth-child(2) {
	background-color: yellow;
}
.tab_changer {
    display: inline-flex;
    float: left;
	max-height: 20px;
	min-height: 20px;
	max-width: 20px;
	min-width: 20px;
	border-right: 1px solid black;
	border-radius: 3px;
	opacity: 0.5;
	transition: all 1s;
    background-color: fuchsia;
}
.tab_changer:hover {
	opacity: 1;
    cursor: pointer;
}
/* общие стили для юлоков */
.country_mod, .school_mod, .section_mod, .country_group_mod, .opus_mod, .person_mod, .dictionary_mod, .menu_mod, .files_mod, .idiom_mod {
	background-color: #363636;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 300px;
    font-family: 'Open Sans', sans-serif;
	font-size: 16px;
    -webkit-box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);
    margin-left: 10px;
}

.country_mod h1, .school_mod h1, .section_mod h1, .country_group_mod h1, .opus_mod h1, .person_mod h1, .dictionary_mod h1 , .menu_mod h1, .files_mod h1, .idiom_mod h1{
	background-color: #292829;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	color: #fff;
    padding: 7px 15px 10px 15px;
	text-align: center;
	text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.country_mod fieldset, .school_mod fieldset, .section_mod fieldset, .country_group_mod fieldset, .opus_mod fieldset, .person_mod fieldset, .dictionary_mod fieldset, .files_mod fieldset, .idiom_mod fieldset {
	border: none;
	padding: 0px;
	padding-left: 5px;
	position: relative;
}

.country_mod fieldset form , .school_mod fieldset form , .section_mod fieldset form , .country_group_mod fieldset form , .opus_mod fieldset form , .person_mod fieldset form , .dictionary_mod fieldset form, .files_mod fieldset form, .idiom_mod fieldset form {
	width: 300px;
}

.country_mod fieldset form input , .school_mod fieldset form input , .section_mod fieldset form input , .country_group_mod fieldset form input , .opus_mod fieldset form input , .person_mod fieldset form input , .dictionary_mod fieldset form input, .files_mod fieldset form input, .idiom_mod fieldset form input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  outline: none;
  -webkit-appearance:none;
  width: 260px;
  align: center;
  position: center;


}

.country_mod fieldset form input[type="text"], .school_mod fieldset form input[type="text"], .section_mod fieldset form input[type="text"], .country_group_mod fieldset form input[type="text"], .opus_mod fieldset form input[type="text"], .person_mod fieldset form input[type="text"], .dictionary_mod fieldset form input[type="text"], .files_mod fieldset form input[type="text"], .idiom_mod fieldset form input[type="text"] {
	border: 1px solid #292829;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	padding: 12px 10px;
	width: 238px;
    -webkit-appearance:none;
}

.country_mod fieldset form input[type="date"], .school_mod fieldset form input[type="date"], .section_mod fieldset form input[type="date"], .country_group_mod fieldset form input[type="date"], .opus_mod fieldset form input[type="date"], .person_mod fieldset form input[type="date"], .dictionary_mod fieldset form input[type="date"], .files_mod fieldset form input[type="date"], .idiom_mod fieldset form input[type="date"] {
	border: 1px solid #292829;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	padding: 12px 10px;
	width: 238px;
   -webkit-appearance:none;
}

.country_mod fieldset form select, .school_mod fieldset form select, .section_mod fieldset form select, .country_group_mod fieldset form select, .opus_mod fieldset form select, .person_mod fieldset form select, .dictionary_mod fieldset form select, .files_mod fieldset form select, .idiom_mod fieldset form select {
	border: 1px solid #292829;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	padding: 12px 10px;
	width: 260px;
    -webkit-appearance:none;
}

.country_mod fieldset form textarea, .school_mod fieldset form textarea, .section_mod fieldset form textarea, .country_group_mod fieldset form textarea, .opus_mod fieldset form textarea, .person_mod fieldset form textarea, .dictionary_mod fieldset form textarea, .files_mod  fieldset form textarea,
.idiom_mod  fieldset form textarea{
	border: 1px solid #292829;
	border-top: none;
	border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	padding: 12px 10px;
	width: 238px;
    -webkit-appearance:none;
}

.country_mod fieldset form input[type="submit"], .school_mod fieldset form input[type="submit"], .section_mod fieldset form input[type="submit"], .country_group_mod fieldset form input[type="submit"], .opus_mod fieldset form input[type="submit"], .person_mod fieldset form input[type="submit"], .dictionary_mod fieldset form input[type="submit"], .files_mod fieldset form input[type="submit"],  .idiom_mod fieldset form input[type="submit"] {
	background-color: #ebebeb;
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #404040;
	cursor: pointer;
	float: none;
	font-weight: bold;
	margin-top: 2px;
	padding: 5px 5px;
    -webkit-appearance: none;
    max-width: 235px;
    opacity: 0.8;
    transition: all 0.3s;
}

.country_mod fieldset form input[type="submit"]:hover, .school_mod fieldset form input[type="submit"]:hover, .section_mod fieldset form input[type="submit"]:hover, .country_group_mod fieldset form input[type="submit"]:hover, .opus_mod fieldset form input[type="submit"]:hover, .person_mod fieldset form input[type="submit"]:hover, .dictionary_mod fieldset form input[type="submit"]:hover, .files_mod fieldset form input[type="submit"]:hover, .idiom_mod fieldset form input[type="submit"]:hover {
	background-color: #e0e0e0;
    opacity: 1;
}

.country_mod fieldset form input[type="reset"], .school_mod fieldset form input[type="reset"], .section_mod fieldset form input[type="reset"], .country_group_mod fieldset form input[type="reset"], .opus_mod fieldset form input[type="reset"], .person_mod fieldset form input[type="reset"], .dictionary_mod fieldset form input[type="reset"], .files_mod fieldset form input[type="reset"], .idiom_mod fieldset form input[type="reset"] {
    background-color: #FF4040;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #404040;
    cursor: pointer;
    float: none;
    font-weight: bold;
    margin-top: 2px;
    padding: 5px 5px;
    -webkit-appearance: none;
    max-width: 20px;
    opacity: 0.5;
    transition: all 0.3s;
}

.country_mod fieldset form input[type="reset"]:hover, .school_mod fieldset form input[type="reset"]:hover, .section_mod fieldset form input[type="reset"]:hover, .country_group_mod fieldset form input[type="reset"]:hover, .opus_mod fieldset form input[type="reset"]:hover, .person_mod fieldset form input[type="reset"]:hover, .dictionary_mod fieldset form input[type="reset"]:hover, .files_mod fieldset form input[type="reset"]:hover, .idiom_mod fieldset form input[type="reset"]:hover {
    background-color: #FF4040;
    opacity: 1;
}

.country_mod fieldset form span:before, .school_mod fieldset form span:before, .section_mod fieldset form span:before, .country_group_mod fieldset form span:before, .opus_mod fieldset form span:before, .person_mod fieldset form span:before, .dictionary_mod fieldset form span:before, .files_mod fieldset form span:before, .idiom_mod fieldset form span:before {
	background-color: #c9c9c9;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	content: "?";
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin-right: 10px;
	text-align: center;
	width: 20px;
}
hr {
    color: coral;
    background-color: coral;
    width: 100px;
}
