<div class="content">
    <div class="forms">
      <div class="person_mod">
        <h1>
          Person
          <div class="nav">
          <div class="nav_item" (click)="person_new = !person_new;person_edit = !person_edit;activePerson={};"></div>
          <div class="nav_item" (click)='person_new = !person_new;person_edit = !person_edit;getPersons();'></div>
        </div>
        </h1>
        <fieldset>
          <form id="person_new"   *ngIf="person_new"  #personForm="ngForm" (ngSubmit)="personSubmit()">
            <input type="text"     name="person_id"   hidden="hidden"              [(ngModel)]="activePerson.id">
            <input type="text"     name="person_name" placeholder="Name" required  [(ngModel)]="activePerson.name"/>
            <input type="text"     name="person_surname" placeholder="Surname"     [(ngModel)]="activePerson.surname"/>
            <input type="text"     name="person_last_name" placeholder="Last name" [(ngModel)]="activePerson.last_name"/>
            <br>
            <input type="date" name="person_birth_date" required [(ngModel)]="activePerson.birth_date"/>
            <br>
            <input type="date" name="person_death_date" required [(ngModel)]="activePerson.death_date"/>
            <br>
            <select name="person_country_list" #personCountry [(ngModel)]="activePerson.country">
              <option value="">Country</option>
              <option *ngFor="let personCountry of personCountryList" [selected]="personCountry.id === activePerson.country" [value]="personCountry.id || null">{{personCountry.country}}</option>
            </select>
            <br>
            <select name="person_person_list" #personPerson [(ngModel)]="activePerson.parent">
              <option value="">Progenitor</option>
              <option *ngFor="let personPerson of personPersonList" [selected]="personPerson.id === activePerson.parent" [value]="personPerson.id || null">{{personPerson.name+' '+personPerson.surname}}</option>
            </select>
            <br>
            <select name="person_school_list" #personSchool [(ngModel)]="activePerson.school">
              <option value=" ">School</option>
              <option *ngFor="let personSchool of personSchoolList" [value]="personSchool.id || null" [selected]="personSchool.id === activePerson.school">{{personSchool.school}}</option>
            </select>
            <br>
            <textarea name="person_key_word"   maxlength="3000"   placeholder="Key"          [(ngModel)]="activePerson.key_word    "></textarea>
            <textarea name="person_annotation" maxlength="3000"   placeholder="Annotation"   [(ngModel)]="activePerson.annotation  "></textarea>
            <input type="text" name="person_link"                 placeholder="More link"    [(ngModel)]="activePerson.link        "/>
            <input type="text" name="person_portrait"             placeholder="Portrait"     [(ngModel)]="activePerson.portrait    "/>
            <textarea name="person_bibliography" maxlength="3000" placeholder="Bibliography" [(ngModel)]="activePerson.bibliography"></textarea>
            <input type="submit" value="Ok">
            <input type="reset" value=" " (click)="personForm.reset();">
          </form>

          <form id="person_edit" *ngIf="person_edit">
            <div class='list_item' *ngFor="let person of persons">
              <div class='button_select' (click)="person_new = !person_new;person_edit = !person_edit;editPerson(person.id)">
                {{person.name}} {{person.surname}}
              </div>
              <div class='button_delete' (click)="delPerson(person.id);">
              </div>
            </div>
          </form>
        </fieldset>
      </div>


      <div class="files_mod" *ngIf="files_mod">
        <h1>
          File
          <div class="nav">
          <div class="nav_item" (click)="files_new = !files_new;files_edit = !files_edit;activeFiles={};"></div>
          <div class="nav_item" (click)="files_new = !files_new;files_edit = !files_edit;getFiles();"></div>
        </div>
        </h1>
        <fieldset>
          <form id="files_new" *ngIf="files_new" #filesForm="ngForm" (ngSubmit)="filesSubmit();">
            <input type="text"     hidden="hidden"  name="files_id"  [(ngModel)]="activeFiles.id">
            <select name="files_pid" [(ngModel)]="activeFiles.pid">
              <option value="">Opus</option>
              <option [value]="filesOpus.id || null" [selected]="filesOpus.id === activeFiles.pid" *ngFor="let filesOpus of filesOpusList">{{filesOpus.caption}}</option>
            </select>
            <input type="text" name="files_caption"      placeholder="Caption"               [(ngModel)]="activeFiles.caption" required>
            <input type="text" name="files_author"       placeholder="Author"                [(ngModel)]="activeFiles.author ">
            <textarea          name="files_link"         placeholder="Link"                  [(ngModel)]="activeFiles.link" required maxlength="3000"></textarea>
            <textarea          name="files_bibliography" placeholder="Bibliography"          [(ngModel)]="activeFiles.bibliography"  maxlength="3000"></textarea>
            <input type="text" name="files_type"         placeholder="Type (ГОСТ etc)"       [(ngModel)]="activeFiles.type" required>
            <textarea          name="files_key_word"     placeholder="Key"  maxlength="3000" [(ngModel)]="activeFiles.key_word"></textarea>
            <input type="text" name="files_format"       placeholder="Extension"             [(ngModel)]="activeFiles.format">
            <input type="submit" value="Ok">
            <input type="reset" value=" " (click)="filesForm.reset();">
          </form>

          <form id="files_edit" *ngIf="files_edit">
            <div class='list_item' *ngFor="let file of files">
              <div class='button_select' (click)="files_new = !files_new;files_edit = !files_edit;editFiles(file.id)"><a href='{{file.link}}' target="_blank">0_0 </a>{{file.caption}}</div>
              <div class='button_delete' (click)="delFiles(file.id);"></div>
            </div>
          </form>
        </fieldset>
      </div>

      <div class="opus_mod">
        <h1>
          <div class="tab_changer" (click)="tabForm('files_mod')"></div>
          Opus		<div class="nav">
          <div class="nav_item" (click)="opus_new = !opus_new;opus_edit = !opus_edit;activeOpus={};"></div>
          <div class="nav_item" (click)="opus_new = !opus_new;opus_edit = !opus_edit;getOpuses();"></div>
        </div></h1>
        <fieldset>
          <form id="opus_new" *ngIf="opus_new"  #opusForm="ngForm" (ngSubmit)="opusSubmit();">
            <input type="text" hidden="hidden" name="opus_id" [(ngModel)]="activeOpus.id">
            <select name="opus_pid" required [(ngModel)]="activeOpus.pid">
              <option value="">Person</option>
              <option *ngFor="let person of personPersonList" [value]="person.id || null" [selected]="person.id === activeOpus.pid">{{person.name+' '+person.surname}}</option>
            </select>
            <br>
            <input type="text" name="opus_caption"      placeholder="Caption"                     [(ngModel)]="activeOpus.caption" required/>
            <textarea          name="opus_annotation"   placeholder="Annotation" maxlength="3000" [(ngModel)]="activeOpus.annotation" required></textarea>
            <input type="text" name="opus_cover"        placeholder="Cover"                       [(ngModel)]="activeOpus.cover"/>
            <br>
            <input type="date" name="opus_published"    placeholder="Published"                     [(ngModel)]="activeOpus.published"/>
            <textarea          name="opus_bibliography" placeholder="Bibliography" maxlength="3000" [(ngModel)]="activeOpus.bibliography"></textarea>
            <textarea          name="opus_key_word"     placeholder="Key" maxlength="3000"          [(ngModel)]="activeOpus.key_words"></textarea>
            <br>
            <select name="section_opus_list" [(ngModel)]="activeOpus.section">
              <option value="">Section</option>
              <option [value]="opusSection.id || null" [selected]="opusSection.id === activeOpus.section" *ngFor="let opusSection of opusSectionList">{{opusSection.caption}}</option>
            </select>
            <input type="submit" value="Ok">
            <input type="reset" value=" " (click)="opusForm.reset();">
          </form>

          <form id="opus_edit" *ngIf="opus_edit">
            <div class='list_item' *ngFor="let opus of opuses">
              <div class='button_select' (click)="opus_new = !opus_new;opus_edit = !opus_edit;editOpus(opus.id)">{{opus.caption}}</div>
              <div class='button_delete' (click)="delOpus(opus.id);"></div>
            </div>
          </form>
        </fieldset>
      </div>

      <div class="idiom_mod" *ngIf="idiom_mod">
        <h1>Idiom<div class="nav">
          <div class="nav_item" (click)="idiom_new = !idiom_new;idiom_edit = !idiom_edit;activeIdiom={};"></div>
          <div class="nav_item" (click)="idiom_new = !idiom_new;idiom_edit = !idiom_edit;getIdioms();"></div>
        </div></h1>
        <fieldset>
          <form id="idiom_new" *ngIf="idiom_new" #idiomForm="ngForm" (submit)="idiomSubmit();">
            <input type="text" hidden="hidden" name="idiom_id" [(ngModel)]="activeIdiom.id">
            <select type="text" name="idiom_pid" [(ngModel)]="activeIdiom.pid">
              <option value="">Person</option>
              <option [value]="person.id || null" [selected]="person.id === activeIdiom.pid" *ngFor="let person of personPersonList">{{person.name+' '+person.surname}}</option>
            </select>
            <input type="text" name="idiom_idiom"    placeholder="Idiom"    [(ngModel)]="activeIdiom.idiom" required>
            <input type="text" name="idiom_original" placeholder="Original" [(ngModel)]="activeIdiom.original">
            <input type="submit" value="Ok">
            <input type="reset" value=" " (click)="idiomForm.reset();">
          </form>

          <form id="idiom_edit" *ngIf="idiom_edit">
            <div class='list_item' *ngFor="let idiom of idioms">
              <div class='button_select' (click)="idiom_new = !idiom_new;idiom_edit = !idiom_edit;editIdiom(idiom.id)">{{idiom.idiom}}</div>
              <div class='button_delete' (click)="delIdiom(idiom.id);"></div>
            </div>
          </form>

        </fieldset>
      </div>

      <div class="dictionary_mod">
        <h1>
          <div class="tab_changer" (click)="tabForm('idiom_mod');"></div>
          Dictionary	<div class="nav">
          <div class="nav_item" (click)="dictionary_new = !dictionary_new;dictionary_edit = !dictionary_edit;activeDictionary={};"></div>
          <div class="nav_item" (click)="dictionary_new = !dictionary_new;dictionary_edit = !dictionary_edit;getDictionaries();"></div>
        </div></h1>
        <fieldset>
          <form id="dictionary_new" *ngIf="dictionary_new" #dictionaryForm="ngForm" (submit)="dictionarySubmit();" >
            <input type="text" hidden="hidden" name="dictionary_id" [(ngModel)]="activeDictionary.id">
            <select name="person_dictionary_list" [(ngModel)]="activeDictionary.pid">
              <option value="">Person</option>
              <option [value]="person.id || null" [selected]="person.id === activeDictionary.pid" *ngFor="let person of personPersonList">{{person.name+' '+person.surname}}</option>
            </select>
            <br>
            <select name="dictionary_dictionary_list" [(ngModel)]="activeDictionary.parent">
              <option value="">Parent dictionary</option>
              <option [value]="dictionary.id || null" [selected]="dictionary.id === activeDictionary.parent" *ngFor="let dictionary of dictionaryList">{{dictionary.caption}}</option>
            </select>
            <br>
            <input type="text" name="dictionary_caption"                       placeholder="Caption"          [(ngModel)]="activeDictionary.caption" required/>
            <textarea          name="dictionary_description"  maxlength="3000" placeholder="Description"      [(ngModel)]="activeDictionary.description" required></textarea>
            <textarea          name="dictionary_bibliography" maxlength="3000" placeholder="Bibliography"     [(ngModel)]="activeDictionary.bibliography"></textarea>
            <input type="text" name="foreign_lang"                             placeholder="Foreign language" [(ngModel)]="activeDictionary.foreign_lang"/>
            <input type="submit" value="Ok">
            <input type="reset" value=" " (click)="dictionaryForm.reset();">
          </form>
          <form id="dictionary_edit" *ngIf="dictionary_edit">
            <div class='list_item' *ngFor="let dictionary of dictionaries">
              <div class='button_select' (click)="dictionary_new = !dictionary_new;dictionary_edit = !dictionary_edit;editDictionary(dictionary.id)">{{dictionary.caption}}</div>
              <div class='button_delete' (click)="delDictionary(dictionary.id);"></div>
            </div>
          </form>
        </fieldset>
      </div>

      <div class="country_group_mod" *ngIf = "country_group_mod">
        <h1>Country group<div class="nav">
          <div class="nav_item" (click)="country_group_new = !country_group_new;country_group_edit = !country_group_edit;activeCountryGroup={};"></div>
          <div class="nav_item" (click)="country_group_new = !country_group_new;country_group_edit = !country_group_edit;getCountryGroups();"></div>
        </div></h1>
        <fieldset>
          <form id="country_group_new" *ngIf="country_group_new" #countryGroupForm="ngForm" (submit)="countryGroupSubmit();">
            <input type="text" name="country_group_id"      hidden="hidden"        [(ngModel)]="activeCountryGroup.id"/>
            <input type="text" name="country_group_caption" placeholder="Caption"  [(ngModel)]="activeCountryGroup.caption" required/>
            <input type="submit" value="Ok">
            <input type="reset" value=" " (click)="countryGroupForm.reset();">
          </form>
          <form id="country_group_edit" *ngIf="country_group_edit">
            <div class='list_item' *ngFor="let country_group of country_groups">
              <div class='button_select' (click)="country_group_new = !country_group_new;country_group_edit = !country_group_edit;editCountry_group(country_group.id)">{{country_group.caption}}</div>
              <div class='button_delete' (click)="delCountry_group(country_group.id);"></div>
            </div>
          </form>
        </fieldset>
      </div>

      <div class="country_mod">
        <h1>
          <div class="tab_changer" (click) = "tabForm('country_group_mod');"></div>
          Country
          <div class="nav">
            <div class="nav_item" (click)="country_new = !country_new;country_edit = !country_edit;activeCountry={};"></div>
            <div class="nav_item" (click)="country_new = !country_new;country_edit = !country_edit;getCountries();"></div>
          </div>
        </h1>
        <fieldset>
          <form id="country_new" *ngIf="country_new" #countryForm="ngForm" (submit)="countrySubmit();">
            <input type="text" hidden="hidden" name="country_id" [(ngModel)]="activeCountry.id"/>
            <select name="country_group" [(ngModel)]="activeCountry.pid">
              <option value="">Country group</option>
              <option [value]="countryGroup.id" [selected]="countryGroup.id === activeCountry.pid" *ngFor="let countryGroup of countryGroupList">{{countryGroup.caption}}</option>
            </select>
            <br>
            <input type="text" name="country_caption" placeholder="Caption"  required [(ngModel)]="activeCountry.country"/>
            <input type="text" name="language"        placeholder="Language" required [(ngModel)]="activeCountry.language"/>
            <input type="submit" value="Ok">
            <input type="reset" value=" " (click)="countryForm.reset();">
          </form>

          <form id="country_edit" *ngIf="country_edit" #countryList="ngForm">
            <div class='list_item' *ngFor="let country of countries">
              <div class='button_select' (click)="country_new = !country_new;country_edit = !country_edit;editCountry(country.id)">{{country.country}}</div>
              <div class='button_delete' (click)="delCountry(country.id);"></div>
            </div>
          </form>
        </fieldset>
      </div>

      <div class="school_mod">
        <h1>School    <div class="nav">
          <div class="nav_item" (click)="school_new = !school_new;school_edit = !school_edit;activeSchool={};"></div>
          <div class="nav_item" (click)="school_new = !school_new;school_edit = !school_edit;getSchools();"></div>
        </div></h1>
        <fieldset>
          <form id="school_new" *ngIf="school_new" #schoolForm="ngForm" (submit)="schoolSubmit();">
            <input type="text" hidden="hidden" name="school_id" [(ngModel)]="activeSchool.id"/>
            <input type="text" name="school_caption"    placeholder="School"                       [(ngModel)]="activeSchool.school" required/>
            <textarea          name="school_annotation" placeholder="Annotation" maxlength="3000"  [(ngModel)]="activeSchool.annotation" required></textarea>
            <select name="school_parent" [(ngModel)]="activeDictionary.parent">
              <option value="">Parent school</option>
              <option [value]="school.id || null" [selected]="school.id === activeSchool.parent" *ngFor="let school of personSchoolList">{{school.school}}</option>
            </select>
            <br>
            <textarea name="school_bibliography" maxlength="3000" placeholder="Bibliography" [(ngModel)]="activeSchool.bibliography"></textarea>
            <input type="submit" value="Ok">
            <input type="reset" value=" " (click)="schoolForm.reset();">
          </form>
          <form id="school_edit" *ngIf="school_edit">
            <div class='list_item' *ngFor="let school of schools">
              <div class='button_select' (click)="school_new = !school_new;school_edit = !school_edit;editSchool(school.id)">{{school.school}}</div>
              <div class='button_delete' (click)="delSchool(school.id);"></div>
            </div>
          </form>
        </fieldset>
      </div>

      <div class="section_mod">
        <h1>Section of Science<div class="nav">
          <div class="nav_item" (click)="section_new = !section_new;section_edit = !section_edit;activeSection={};"></div>
          <div class="nav_item" (click)="section_new = !section_new;section_edit = !section_edit;getSections();"></div>
        </div></h1>
        <fieldset>
          <form id="section_new" *ngIf="section_new" #sectionForm="ngForm" (submit)="sectionSubmit();">
            <input type="text" hidden="hidden" name="section_id" [(ngModel)]="activeSection.id"/>
            <select name="section_parent" [(ngModel)]="activeSection.pid">
              <option value="">Parent section</option>
              <option [value]="section.id || null" [selected]="section.id === activeSection.pid" *ngFor="let section of opusSectionList">{{section.caption}}</option>
            </select>
            <br>
            <input type="text" name="section_caption"    placeholder="Caption"    [(ngModel)]="activeSection.caption" required/>
            <textarea          name="section_annotation" placeholder="Annotation" [(ngModel)]="activeSection.annotation" maxlength="3000" required></textarea>
            <input type="submit" value="Ok">
            <input type="reset" value=" " (click)="sectionForm.reset();">
          </form>

          <form id="section_edit" *ngIf="section_edit">
            <div class='list_item' *ngFor="let section of sections">
              <div class='button_select' (click)="section_new = !section_new;section_edit = !section_edit;editSection(section.id)">{{section.caption}}</div>
              <div class='button_delete' (click)="delSection(section.id);"></div>
            </div>
          </form>

        </fieldset>
      </div>

    </div>
</div>