$laptope-mode-height: 768px;
$laptope-mode-width: 1366px;

$laptope-mode-column-w: 354px;
$laptope-mode-column-mini-w: 300px;
$z-index-edit: 1;
$z-index-list: 5;

.content {
  position: relative;
}
.forms	{
  min-height: $laptope-mode-height;
  max-height: $laptope-mode-height;
  max-width: $laptope-mode-width;
  min-width: $laptope-mode-width;
  margin: 0 auto;
  height: 90%;
  position: relative;
}
h1 { margin: 0; }

a {
    color: #999;
    text-decoration: none;
}

a:hover { color: #1dabb8; }

fieldset {
    border: none;
    margin: 0;
}

#person_mod, #opus_mod, #phrase_mod {
  background: #fff;
  min-width: $laptope-mode-column-w;
  max-width: $laptope-mode-column-w;
  border-right: 1px solid #282830;
  min-height: $laptope-mode-height;
  max-height: $laptope-mode-height;
  float: left;
  overflow: auto;
}
#country_mod {
  background: #fff;
  border-right: 1px solid #282830;
  min-height: $laptope-mode-height/2;
  max-height: $laptope-mode-height/2;
  min-width: $laptope-mode-column-mini-w;
  max-width: $laptope-mode-column-mini-w;
  float: left;
}
#cycle_mod {
  background: #fff;
  border-right: 1px solid #282830;
  min-height: $laptope-mode-height/2;
  max-height: $laptope-mode-height/2;
  min-width: $laptope-mode-column-mini-w;
  max-width: $laptope-mode-column-mini-w;
  float: left;
}
#theme_mod {
  position: absolute;
  top: 35px;
  left: 1065px;
  background: #fff;
  border-right: 1px solid #282830;
  min-height: $laptope-mode-height/2*0.9;
  max-height: $laptope-mode-height/2*0.9;
  min-width: $laptope-mode-column-mini-w;
  max-width: $laptope-mode-column-mini-w;
  float: left;
}
#group_person_mod {
  position: absolute;
  top: 35px;
  left: 0px;
  background: #fff;
  min-width: $laptope-mode-column-w;
  max-width: $laptope-mode-column-w;
  border-right: 1px solid #282830;
  min-height: $laptope-mode-height*0.9;
  max-height: $laptope-mode-height*0.9;
  overflow: auto;
}
#type_opus_mod {
  position: absolute;
  top: 35px;
  left: 355px;
  background: #fff;
  min-width: $laptope-mode-column-w;
  max-width: $laptope-mode-column-w;
  border-right: 1px solid #282830;
  min-height: $laptope-mode-height*0.9;
  max-height: $laptope-mode-height*0.9;
  overflow: auto;
}
#genre_mod {
  position: absolute;
  top: 35px;
  left: 710px;
  background: #fff;
  min-width: $laptope-mode-column-w;
  max-width: $laptope-mode-column-w;
  border-right: 1px solid #282830;
  min-height: $laptope-mode-height*0.9;
  max-height: $laptope-mode-height*0.9;
  overflow: auto;
}
#person_mod h1, #opus_mod h1, #phrase_mod h1, #cycle_mod h1, #country_mod h1, #group_person_mod h1, #type_opus_mod h1, #genre_mod h1, #theme_mod h1 {
    background-color: #282830;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

#person_mod fieldset, #opus_mod fieldset, #phrase_mod fieldset, #cycle_mod fieldset, #country_mod fieldset, #group_person_mod fieldset, #type_opus_mod fieldset, #genre_mod fieldset, #theme_mod fieldset {
    background: #fff;
    border-radius: 0 0 5px 5px;
    //padding: 0px 20px 20px 20px;
}

input[type="text"] {
  font-size: 14px;
  float: left;
  min-width: 300px;
}

input[type="date"] {
  font-size: 14px;
  float: left;
  min-width: 300px;
}

input[type="submit"] {
  background: #1dabb8;
  border-radius: 3px;
  color: #fff;
  float: left;
  font-weight: bold;
  max-height: 21px;
}

select {
  float: left;
  min-width: 300px;
}

input.form_control_mini {
  min-width: 270px;
  max-width: 270px;
}

input[type="submit"]:hover {
  background: #198d98;
}

footer {
   font-size: 12px;
   margin-top: 16px;
}

#person_edit {
  max-width: 314px;
  max-height: inherit;
  position: absolute;
  top: 35px;
  z-index: 1;
}
#person_list {
  max-height: inherit;
  z-index: 5;
}
#opus_edit{
  max-width: 314px;
  max-height: inherit;
  position: absolute;
  top: 35px;
  z-index: 1;
}
#opus_list {
  max-height: inherit;
  z-index: 5;
}
#group_person_edit {
  max-width: 314px;
  max-height: inherit;
  position: absolute;
  top: 35px;
  z-index: 1;
}
#group_person_list {
  max-height: inherit;
  z-index: 5;
}
#type_opus_edit {
  max-width: 314px;
  max-height: inherit;
  position: absolute;
  top: 35px;
  z-index: 1;
}
#type_opus_list {
  max-height: inherit;
  z-index: 5;
}
#phrase_edit {
  max-width: 314px;
  max-height: inherit;
  position: absolute;
  top: 35px;
  z-index: 1;
}
#phrase_list {
  max-height: inherit;
  z-index: 5;
}
#genre_edit {
  max-width: 314px;
  max-height: inherit;
  position: absolute;
  top: 35px;
  z-index: 1;
}
#genre_list {
  max-height: inherit;
  z-index: 5;
}
#cycle_edit {
  max-width: inherit;
  max-height: inherit;
  position: absolute;
  top: 35px;
  z-index: 1;
}
#cycle_list {
  max-width: inherit;
  max-height: inherit;
  z-index: 5;
}
#theme_edit {
  max-width: inherit;
  max-height: inherit;
  position: absolute;
  top: 35px;
  z-index: 1;
}
#theme_list {
  max-width: inherit;
  max-height: inherit;
  z-index: 5;
}
#country_edit {
  max-width: inherit;
  max-height: inherit;
  position: absolute;
  top: 419px;
  z-index: 1;
}
#country_list {
  max-width: inherit;
  max-height: inherit;
  z-index: 5;
}

//common
.list_item {
  text-align: right;
  max-width: 330px;
  max-height: 22px;
}
.list_item_caption {
  display: inline-block;
  text-align: left;
  opacity: 0.9;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding-bottom: 0px;
}
.list_item_caption:hover {
  opacity: 1;
  cursor: pointer;
  text-shadow: 0px 1px 0px grey;
}
.list_item_mini {
  text-align: right;
  max-width: 276px;
  max-height: 22px;
}
.list_item_caption_mini {
  display: inline-block;
  text-align: left;
  opacity: 0.9;
  max-width: 246px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding-bottom: 0px;
}
.list_item_caption_mini:hover {
  opacity: 1;
  cursor: pointer;
  text-shadow: 0px 1px 0px grey;
}
.del_button {
  background-color: #FF4040;
  display: inline-block;
  cursor: pointer;
  max-height: 18px;
  min-height: 18px;
  max-width: 18px;
  min-width: 18px;
  border-radius: 3px;
  text-align: right;
}
.del_button:hover {
  background-color: #b32d2d;
}
.extra_form_toggle {
  margin: 5px 0px 0px 0px;
  display: inline-flex;
  float: left;
  max-height: 20px;
  min-height: 20px;
  max-width: 20px;
  min-width: 20px;
  border-right: 1px solid black;
  border-radius: 3px;
  opacity: 0.5;
  transition: all 1s;
  background-color: fuchsia;
}

.extra_form:hover {
  opacity: 1;
  cursor: pointer;
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}