<div class="content" #content>
  <div class="forms">

    <div id="person_mod">
      <div class="extra_form_toggle" (click)="group_person_mod = !group_person_mod"></div><h1 (click)="toggleForm('person')">Person</h1>
      <fieldset id="person_list" [@personChangedL]="visibility.personL">
        <form>
          <div class="list_item" *ngFor="let person of persons">
            <span class="list_item_caption" (click)="getPerson(person.id)">{{person.name+' '+person.surname}}</span>
            <div class="del_button" (click)="delPerson(person.id)"></div>
          </div>
        </form>
      </fieldset>

      <fieldset id="person_edit" *ngIf="visibility.personE == 'active'" [@personChangedE]="visibility.personE">
        <form [formGroup]="personEditForm" (submit)="personSubmit()">
          <input type="text" formControlName="id" hidden>
          <input type="text" placeholder="Name" formControlName="name">
          <input type="text" placeholder="Surname" formControlName="surname">
          <input type="text" placeholder="Last name" formControlName="last_name">
          <input type="date" formControlName="birth_date">
          <input type="date" formControlName="death_date">
          <select formControlName="country" [(ngModel)]="activePerson.country">
            <option value="" disabled selected>Select country</option>
            <option [value]="country.id" *ngFor="let country of countries" [selected]="activePerson.country == country.id">
              {{country.caption}}
            </option>
          </select>
          <input type="text" placeholder="Key" formControlName="key_word">
          <input type="text" placeholder="Annotation" formControlName="annotation">
          <input type="text" placeholder="Link" formControlName="link">
          <input type="text" placeholder="Portrait" formControlName="portrait">
          <input type="text" placeholder="Bibliography" formControlName="bibliography">
          <select formControlName="group_person" [(ngModel)]="activePerson.group_person">
            <option value="" disabled selected>Select group of persons</option>
            <option [value]="group_person.id" *ngFor="let group_person of group_persons" [selected]="activePerson.group_person == group_person.id">{{group_person.caption}}</option>
          </select>
          <div class="clearfix"></div>
          <input type="submit" value="Ok" (click)="personSubmit()">
          <input type="reset"  value="New">
        </form>
      </fieldset>
    </div>

    <div id="group_person_mod" *ngIf="group_person_mod">
      <h1 (click)="toggleForm('group_person')">group_person</h1>
      <fieldset id="group_person_list" [@group_personChangedL]="visibility.group_personL">
        <form>
          <div class="list_item" *ngFor="let group_person of group_persons">
            <span class="list_item_caption" (click)="getGroup_person(group_person.id)">{{group_person.caption}}</span>
            <div class="del_button" (click)="delGroup_person(group_person.id)"></div>
          </div>
        </form>
      </fieldset>

      <fieldset id="group_person_edit" *ngIf="visibility.group_personE == 'active'" [@group_personChangedE]="visibility.group_personE">
        <form [formGroup]="group_personEditForm" (submit)="group_personSubmit()">
          <input type="text" formControlName="id" hidden>
          <input type="text" placeholder="Caption" formControlName="caption">
          <input type="text" placeholder="Description" formControlName="description">
          <input type="text" placeholder="Link" formControlName="link">
          <select [(ngModel)]="activeGroup_person.previous" formControlName="previous">
            <option disabled selected>Select previous</option>
            <option [value]="group_person.id" [selected]="group_person.id == activeGroup_person.previous" *ngFor="let group_person of group_persons">{{group_person.caption}}</option>
          </select>
          <div class="clearfix"></div>
          <input type="submit" value="Ok" (click)="group_personSubmit()">
          <input type="reset"  value="New">
        </form>
      </fieldset>
    </div>

    <div id="opus_mod">
      <div class="extra_form_toggle" (click)="type_opus_mod = !type_opus_mod"></div><h1 (click)="toggleForm('opus')">Opus</h1>
      <fieldset id="opus_list" [@opusChangedL]="visibility.opusL">
        <form>
          <div class="list_item" *ngFor="let opus of opuses">
            <span class="list_item_caption" (click)="getOpus(opus.id)">{{opus.caption}}</span>
            <div class="del_button" (click)="delOpus(opus.id)"></div>
          </div>
        </form>
      </fieldset>

      <fieldset id="opus_edit" *ngIf="visibility.opusE == 'active'" [@opusChangedE]="visibility.opusE">
        <form [formGroup]="opusEditForm" (submit)="opusSubmit()">
          <input type="text" formControlName="id" hidden>
          <select formControlName="pid" [(ngModel)]="activeOpus.pid">
            <option value="" disabled selected>Select author</option>
            <option [value]="person.id" *ngFor="let person of persons" [selected]="person.id == activeOpus.pid">{{person.name + ' ' +person.surname}}</option>
          </select>
          <input type="text" placeholder="Caption" formControlName="caption">
          <input type="text" placeholder="Annotation" formControlName="annotation">
          <input type="text" placeholder="Cover" formControlName="cover">
          <input type="date" formControlName="published">
          <input type="text" placeholder="Bibliography" formControlName="bibliography">
          <input type="text" placeholder="Key" formControlName="key_word">
          <input type="text" placeholder="Original language" formControlName="original_lang">
          <select formControlName="cycle" [(ngModel)]="activeOpus.cycle">
            <option value="" disabled selected>Select cycle</option>
            <option [value]="cycle.id" *ngFor="let cycle of cycles" [selected]="cycle.id == activeOpus.cycle">{{cycle.caption}}</option>
          </select>
          <input type="text" placeholder="Cycle order" formControlName="cycle_order">
          <select formControlName="genre" [(ngModel)]="activeOpus.genre">
            <option value="" disabled selected>Select genre</option>
            <option [value]="genre.id" *ngFor="let genre of genres" [selected]="genre.id == activeOpus.genre">{{genre.caption}}</option>
          </select>
          <select formControlName="type" [(ngModel)]="activeOpus.type">
            <option value="" disabled selected>Select type of opus</option>
            <option [value]="type_opus.id" *ngFor="let type_opus of type_opuses" [selected]="type_opus.id == activeOpus.type">{{type_opus.caption}}</option>
          </select>
          <div class="clearfix"></div>
          <input type="submit" value="Ok" (click)="opusSubmit()">
          <input type="reset"  value="New">
        </form>
      </fieldset>
    </div>

    <div id="type_opus_mod" *ngIf="type_opus_mod">
      <div class="extra_form"></div><h1 (click)="toggleForm('type_opus')">type Opus</h1>
      <fieldset id="type_opus_list" [@type_opusChangedL]="visibility.type_opusL">
        <form>
          <div class="list_item" *ngFor="let type_opus of type_opuses">
            <span class="list_item_caption" (click)="getType_opus(type_opus.id)">{{type_opus.caption}}</span>
            <div class="del_button" (click)="delType_opus(type_opus.id)"></div>
          </div>
        </form>
      </fieldset>

      <fieldset id="type_opus_edit" *ngIf="visibility.type_opusE == 'active'" [@type_opusChangedE]="visibility.type_opusE">
        <form [formGroup]="type_opusEditForm" (submit)="type_opusSubmit()">
          <input type="text" formControlName="id" hidden>
          <input type="text" placeholder="Caption" formControlName="caption">
          <input type="text" placeholder="Description" formControlName="description">
          <div class="clearfix"></div>
          <input type="submit" value="Ok" (click)="type_opusSubmit()">
          <input type="reset" value="New">
        </form>
      </fieldset>
    </div>

    <div id="phrase_mod">
      <div class="extra_form_toggle" (click)="genre_mod = !genre_mod"></div><h1 (click)="toggleForm('phrase')">phrase</h1>
      <fieldset id="phrase_list" [@phraseChangedL]="visibility.phraseL">
        <form>
          <div class="list_item" *ngFor="let phrase of phrases">
            <span class="list_item_caption" (click)="getPhrase(phrase?.id)">{{phrase?.caption}}</span>
            <div class="del_button" (click)="delPhrase(phrase?.id);"></div>
          </div>
        </form>
      </fieldset>

      <fieldset id="phrase_edit" *ngIf="visibility.phraseE == 'active'" [@phraseChangedE]="visibility.phraseE">
        <form [formGroup]="phraseEditForm" (submit)="phraseSubmit();">
          <input type="text"  required formControlName="id" hidden>
          <select formControlName="pid" [(ngModel)]="activePhrase.pid">
            <option value="" disabled selected>Select author</option>
            <option [value]="person.id" *ngFor="let person of persons" [selected]="activePhrase.pid == person.id">{{person.name + ' ' + person.surname}}</option>
          </select>
          <input type="text" placeholder="Caption" required formControlName="caption">
          <input type="text" placeholder="Original" required formControlName="original">
          <div class="clearfix"></div>
          <input type="submit" value="Ok" (click)="phraseSubmit();">
          <input type="reset" value="New">
        </form>
      </fieldset>
    </div>

    <div id="genre_mod" *ngIf="genre_mod">
      <h1 (click)="toggleForm('genre')">genre</h1>
      <fieldset id="genre_list" [@genreChangedL]="visibility.genreL">
        <form>
          <div class="list_item" *ngFor="let genre of genres">
            <span class="list_item_caption" (click)="getGenre(genre.id)">{{genre.caption}}</span>
            <div class="del_button" (click)="delGenre(genre.id)"></div>
          </div>
        </form>
      </fieldset>

      <fieldset id="genre_edit" *ngIf="visibility.genreE == 'active'" [@genreChangedE]="visibility.genreE">
        <form [formGroup]="genreEditForm" (submit)="genreSubmit();">
          <input type="text" formControlName="id" hidden>
          <input type="text" placeholder="Caption" formControlName="caption">
          <input type="text" placeholder="Description" formControlName="description">
          <div class="clearfix"></div>
          <input type="submit" value="Ok" (click)="genreSubmit();">
          <input type="reset" value="New">
        </form>
      </fieldset>
    </div>

    <div id="cycle_mod">
      <div class="extra_form_toggle" (click)="theme_mod = !theme_mod"></div><h1 (click)="toggleForm('cycle')">cycle</h1>
      <fieldset id="cycle_list" [@cycleChangedL]="visibility.cycleL">
        <form>
          <div class="list_item_mini" *ngFor="let cycle of cycles">
            <span class="list_item_caption_mini" (click)="getCycle(cycle.id)">{{cycle.caption}}</span>
            <div class="del_button" (click)="delCycle(cycle.id)"></div>
          </div>
        </form>
      </fieldset>

      <fieldset id="cycle_edit" *ngIf="visibility.cycleE == 'active'" [@cycleChangedE]="visibility.cycleE">
        <form [formGroup]="cycleEditForm" (submit)="cycleSubmit();">
          <input class="form_control_mini" type="text" formControlName="id" hidden>
          <input class="form_control_mini" type="text" placeholder="Caption" formControlName="caption">
          <input class="form_control_mini" type="text" placeholder="Description" formControlName="description">
          <input class="form_control_mini" type="text" placeholder="Link" formControlName="link">
          <div class="clearfix"></div>
          <input type="submit" value="Ok" (click)="cycleSubmit()">
          <input type="reset" value="New">
        </form>
      </fieldset>
    </div>

    <div id="theme_mod" *ngIf="theme_mod == true">
      <h1 (click)="toggleForm('theme')">Theme</h1>
      <fieldset id="theme_list" [@themeChangedL]="visibility.themeL">
        <form>
          <div class="list_item_mini" *ngFor="let theme of themes">
            <span class="list_item_caption_mini" (click)="getTheme(theme.id)">{{theme.caption}}</span>
            <div class="del_button" (click)="delTheme(theme.id)"></div>
          </div>
        </form>
      </fieldset>

      <fieldset id="theme_edit" *ngIf="visibility.themeE == 'active'" [@themeChangedE]="visibility.themeE">
        <form [formGroup]="themeEditForm"  (submit)="themeSubmit();" >
          <input class="form_control_mini" type="text" formControlName="id" hidden>
          <input class="form_control_mini" type="text" placeholder="Caption" formControlName="caption">
          <input class="form_control_mini" type="text" placeholder="Description" formControlName="description">
          <input class="form_control_mini" type="text" placeholder="Link" formControlName="link">
          <div class="clearfix"></div>
          <input type="submit" value="Ok" (click)="themeSubmit();">
          <input type="reset" value="New">
        </form>
      </fieldset>
    </div>

    <div id="country_mod">
      <h1 (click)="toggleForm('country');">country</h1>
      <fieldset id="country_list" [@countryChangedL]="visibility.countryL">
        <form>
          <div class="list_item_mini" *ngFor="let country of countries">
            <span class="list_item_caption_mini" (click)="getCountry(country.id)">{{country.caption}}</span>
            <div class="del_button" (click)="delCountry(country.id)"></div>
          </div>
        </form>
      </fieldset>

      <fieldset id="country_edit" *ngIf="visibility.countryE == 'active'" [@countryChangedE]="visibility.countryE">
        <form [formGroup]="countryEditForm"  (submit)="countrySubmit();">
          <input class="form_control_mini" type="text" formControlName="id" hidden>
          <input class="form_control_mini" type="text" placeholder="Caption" formControlName="caption">
          <input class="form_control_mini" type="text" placeholder="Language" formControlName="language">
          <div class="clearfix"></div>
          <input type="submit" value="Ok" (click)="countrySubmit();">
          <input type="reset" value="New">
        </form>
      </fieldset>
    </div>

  </div>
</div>
