<h1>Socrates is glad to see you!</h1>
<img src="/img/welcome.png">
<div>
  <a href="https://bitbucket.org/shmihshmih/intelligence-card">Link to BitBucket</a>
  <p>Write me about bugs^^</p>
  <h1>version 0.0.2</h1>
</div>

