// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
}
header {
  background-color: #fff;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
main {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}
footer {
  text-align: center;
  font-size: 0.8em;
}
/* меню */
.menu_mod {
  background-color: #363636;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 300px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  margin-left: 10px;
  position: fixed;
  top: 0px;
  right: 5px;
  max-width: 115px;
  min-width: 115px;
  z-index: 100;
}
.menu_mod h1 {
  background-color: #292829;
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  color: #fff;
  padding: 0px 15px 5px 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.menu_mod .menu_item {
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  opacity: 0.9;
  transition: all 0.3s;
}
.menu_mod .menu_item:hover {
  cursor: pointer;
  opacity: 1;
}