<main>
    <router-outlet></router-outlet>
</main>
<div class="menu_mod">
    <h1>Nav Bar</h1>
    <p class="menu_item"><a [routerLink]="['main']">MAIN</a></p>
    <hr>
    <p class="menu_item"><a [routerLink]="['philosophyAdmin']">Philosophy Admin</a></p>
    <hr>
    <p class="menu_item"><a [routerLink]="['philosophyVisual']">Philosophy Visual</a></p>
    <hr>
    <p class="menu_item"><a [routerLink]="['philosophyLog']">Philosophy Log</a></p>
    <hr>
    <p class="menu_item"><a [routerLink]="['literatureAdmin']">Literature Admin</a></p>
    <hr>
    <p class="menu_item"><a [routerLink]="['literatureVisual']">Literature Visual</a></p>
    <hr>
    <p class="menu_item"><a [routerLink]="['literatureLog']">Literature Log</a></p>
</div>