    body, html {
      font-family: arial, sans-serif;
      font-size: 11pt;
    }
    .vis-item.vis-background.negative {
      background-color: red;
    }
    .negative {
      background-color: green;
    }
    .whited {
      background-color: white;
    }
    @media screen and (min-width: 1200px) and (max-width: 1400px) {
      .whited {
        max-width: 1235px;
      }
    }
    @media screen and (min-width: 1400px) {
      .whited {
        max-width: 90%;
      }
    }