<div class="container">
  <h2>Philosophy visual</h2>
  <h3>Historical person-timeline</h3>
  <div class="whited"
       [visTimeline]="visTimeline"
       [visTimelineItems]="visTimelineItems"
       (initialized)="timelineInitialized()"></div>
</div>