<div class="container">
  <h2>Literature visual</h2>
  <h3>Literature-person-timeline</h3>
  <div class="whited"
       [visTimeline]="visTimeline"
       [visTimelineItems]="visTimelineItems"
       (initialized)="timelineInitialized()"></div>
</div>